<h1>Enter your new details</h1>

<%= form_for(@task) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <%= f.submit %>
<% end %>


<!-- Links by convension @task passed from edit
  to the update, using the prefix for the update -->
